/* COLORS ------------------------------------ */
$primary: #ef4450;
$accent: #022e3c;

/* FONTS ------------------------------------ */
@font-face {
	font-family: NotCourierSans;
	src: url("NotCourierSans-webfont.woff");
}

@font-face {
	font-family: NotCourierSansBold;
	src: url("NotCourierSans-Bold-webfont.woff");
}

@font-face {
	font-family: Norwester;
	src: url("norwester.otf");
}

/* BASE STYLES ------------------------------------ */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	font-family: "NotCourierSans"; 
	background-color: #fff;
	color: #333;
}

a {
	text-decoration: none;
	color: #333;
}

h1, h2, h3, h4 {
	font-family: "Norwester";
	color: $primary;
}

img {
	width: 100%;
	height: 100%;
}

.container {
	width: 100%;
	min-height: 100vh;
}

/* NAVIGATION ------------------------------------ */
.nav {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 0vh;
	font-size: 1.5em;
	background-color: #333;
	opacity: 0.9;
	overflow: hidden;
	transition: height 0.8s;
	z-index: 100;
	.closebtn {
		display: none;
		position: absolute;
		right: 40px;
		font-size: 4em;
		color: $primary;
		cursor: pointer;
	}
	.nav-content{
		display: flex;
		justify-content: center;
		align-items: flex-end;
		width: 100%;
	}
	.social {
		display: flex;
		justify-content: center;
		width: 100%;
	}
	a {
		margin: 1em;
		color: #fff;
	}
	.navbtn {
		&:after {
			content: '';
			display: block;
			margin: auto;
			height: 3px;
			width: 0px;
			background:transparent;
			transition: width .5s ease, background-color .5s ease;
		}
		&:hover:after {
			width: 100%;
			background: #fff;
		}
	}
}

.openbtn {
	position: fixed;
	top: 30px;
	right: 48px;
	font-size: 3em;
	color: $primary;
	cursor: pointer;
	z-index: 100;
}

/* HEADER ------------------------------------ */
.overlay {
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: url("../images/hero.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.overlay:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
}

.header-content {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	color: $primary;
	img {
		width: 350px;
		height: 350px;
	}
	h1 {
		font-size: 5em;
		text-transform: uppercase;
		letter-spacing: 15px;
		margin-bottom: 15px;
	}
	h2 {
		font-size: 2em;
		text-transform: uppercase;
		letter-spacing: 5px;
		animation: fadeIn 1s infinite alternate;
		a {
			color: $primary;
		}
		i {
			font-size: 1.5em;
			margin-left: 10px;
		}
	}
}

@keyframes fadeIn { 
  from {
  	opacity: 0;
  } 
}

/* BODY ------------------------------------ */
.main {
	width:100%;
	margin: 4em 0;
	h2 {
		text-align: center;
		font-size: 2em;
		letter-spacing: 3px;
		text-transform: uppercase;
		font-weight: normal;
		}
	hr {
		width: 100%;
		height: 5px;
		margin: 4em 0;
		background-color: $primary;
		border: none;
	}
}

.main-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 4em auto;
	width: 80%;
	background-color: #ededeb;
}

.item {
	padding: 0.5em;
	opacity: 0;
	transform: translateX(-20px);
	transition: 0.3s ease-in-out;
	.post-title {
		font-family: NotCourierSansBold;
		font-size: 1.5em;
		color: $primary;
	}
	.button {
		margin: 10px 0;
		font-weight: bold;
		text-align: center;
	}
	&.showing {
		opacity: 1;
		transform: translateX(0px);
	}
}

.grid-sizer,
.item {
	width: 20%;
}

.item-width1 {
	width: 40%;
}
.item-width2 {
	width: 60%;
}
.item-width3 {
	width: 80%;
}
.item-width4 {
	width: 100%;
}

.item-height1 {
	height: 300px;
}
.item-height2 {
	height: 450px;
}
.item-height3 {
	height: 600px;
}


/* VIDEO and PODCAST ------------------------------------ */
.video,
.podcast {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	margin: 4em 0;
}

.media-title {
	width: 100%;
	padding-top: 4em;
	p {
		text-align: center;
		font-family: NotCourierSansBold;
	}
	h2 {
		width: 70%;
		margin: auto;
		text-align: center;
		font-size: 2.5em;
		text-transform: uppercase;
		&:before,
		&:after {
			content: "";
			display: inline-block;
			width: 20%;
			margin: 0 0.5em 0.6em 0;
			border-bottom: 5px solid transparent;
			border-image: linear-gradient(to right, #fff 50%, #023140 100%);
			border-image-slice: 1;
			opacity: 0.15;
	
		}
		&:after {
			margin: 0 0 0.6em 0.5em;
			border-image: linear-gradient(to left, #fff 50%, #023140 100%);
			border-image-slice: 1;
		}
	}
}

.video-content, 
.podcast-content {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40%;
		height: 70%;
		margin-bottom: 4em;
		border-radius: 7em;
	}
iframe {
	width: 75%;
	height: 75%;
}

.podcast-bg {
	position: absolute;
	width: 100%;
	height: 30%;
	background-color: $primary;
}

.podcast-content {
	width: 60%;
}

.podcast-carousel {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 90%;
	z-index: 10;
	.arrows {
		display: flex;
		justify-content: space-between;
		width: 70%;
		z-index: 100;
	}
	.prev,
	.prev2,
	.next,
	.next2 {
		position: absolute;
		width: 60%;
		height: 80%;
		box-shadow: 1px 1px 50px #333;
		transform: translateX(-10%);
		transition: all 0.8s;
		z-index: 5;
	}
	.prev2 {
		height: 70%;
		transform: translateX(-20%);
		z-index: 4;
	}
	.next {
		transform: translateX(10%);
	}
	.next2 {
		height: 70%;
		transform: translateX(20%);
		z-index: 4;
	}
	.selected {
		position: absolute;
		width: 60%;
		height: 90%;
		box-shadow: 1px 1px 50px #333;
		transition: all 0.8s;
		z-index: 10;
	}
}

/* MEDIA QUERIES ------------------------------------ */
@media only screen and (max-width: 768px) {
	.openbtn {
		font-size: 5em;
	}
	.nav {
	font-size: 2.5em;
		.closebtn {
			font-size: 4em;
			top: -20px;
			right: 35px;
		}
	}
}